@charset "utf-8";
/* CSS Document */

* {margin:0; padding:0}
body {width:100%; margin-bot:10px;}
.background{background-image:url(2754227.jpg);width:100%;height:100%; position:absolute}
.bg-dark{height:87px}
.containerr{width:100%}
#header-left {margin-top: 27px}
.form-group > ul > li{float:right}
.form-group ul {
  list-style-type: none;
  margin-right: 20px;
  padding: 0;
}
span{text-decoration:underline; color: grey; height:20px}
.form-group ul li {position:relative;width:140px; text-align:center; margin-top: 27px}
.form-group   a{color:black;text-decoration:none;margin-right:10px;width:20px}

.navbar navbar-expand-lg navbar-dark bg-dark{height:100px}


.carousel-item img{height:750px}


.form-group{margin-top:4rem}
.card-body{min-height:298px}
.form-group a {
width:90px}

#footer{margin-top:20px; text-align:center;background-color:#343a40;}
#footer h2{color:white;font-size:25px;margin-top:30px} 
#footer a{color:white;font-size:20px}
#footer p {color:white;font-size:20px}
#footer img{float:left; margin-bot:20px;margin-top:30px}
#footer h3{font-size:25px;margin-bottom: 20px;padding: 20px; color:white;margin-top:30px}


